<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 配置包扫描器，扫描service包 -->
    <context:component-scan base-package="com.wch.taotao.service"/>

    <!-- 提供应用方信息，用于计算依赖关系 -->
    <dubbo:application name="taotao-manager"/>
    <!-- 注册中心地址 -->
    <dubbo:registry protocol="zookeeper" address="106.14.200.121:2181"/>
    <!-- 使用dubbo协议，在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880"/>
    <!-- 发布dubbo服务 -->
    <dubbo:service interface="com.wch.taotao.service.ItemService" ref="itemServiceImpl"/>

</beans>